* {
    box-sizing: border-box;
}
body {
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
}

/*HEADER*/

header {
    background-image: url(../images/banner.png);
    display: block;
    height: 376px;
    background-size: 100%;
    background-repeat: no-repeat;
    #tanatos {
        color: #ffffff;
        font-size: 20px;
        margin-left: 190px;
        padding-top: 31px;
        display: inline-block;
        #studio {
            color: #f7600f;
            font-size: 20px;
        }
    }

/*MENU*/

    .nav {
        position: relative;
        margin-top: 16px;
        width: 50px;
        margin-right: 100px;
        float: right;
    }
    .burger-menu {
        cursor: pointer;
        float: right;
    }
    .burger-menu img {
        width: 100%;
    }
    nav {
        display: none;
        top: 50px;
        margin: 0;
        right: 0;
        position: absolute;
    }
    nav ul li {
        display: inline-block;
        border-right: 2px solid #828282;
        padding: 0 10px;
    }
    nav ul li:hover span:first-child {
        color: #607530;
    }
    nav ul li:last-child {
        border: none;
        padding-right: 0;
    }
    nav ul li a {
        text-decoration: none;
        color: #ffffff;
    }
    nav ul li span {
        display: block;
    }
    nav ul li span:first-child {
        text-transform: uppercase;
    }
    nav ul li span:last-child {
        text-transform: lowercase;
    }
    .nav:hover {
        nav {
            display: inline-block;
        }
    }
}
.menu {
    float: right;
    color: #ffffff;
    display: block;
    margin-top: 31px;
    margin-right: 10px;
}

/*HEADER-TEXT*/

h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}
.text {
    margin-top: 50px;
    text-align: center;
}
#things {
    color: #f7600f;
}
.header-text {
    color: #ffffff;
}
button {
    width: 150px;
}
.buttons {
    text-align: center;
    margin-top: 25px;
    .button-header1 {
        background-color: #f7600f;
        border: 0;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
        cursor: pointer;
        margin-right: 17px;
    }
    .button-header {
        border: 1px solid rgba(255,255,255,0.5);
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
        cursor: pointer;
        margin-right: 17px;
        background-color: transparent;
    }
}

/*4-IMAGE-LOGO*/

.logos {
    text-align: center;
    margin-top: 70px;
    p {
        color: #3c434d;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #3c434d;
    }
}
.img {
    margin: auto;
    padding: 10px;
    border: 1px solid #3c434d;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    img {
        display: inline-block;
        position: relative;
        top: 10px;
    }
}
.print {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: center;
    margin-right: 35px;
}
.web {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: center;
    margin-right: 35px;
}
.app {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: center;
    margin-right: 35px;
}
.logo {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: center;
}
.fonth3 {
    font-weight: 600;
}

/*EMAIL-SUBSCRIBE*/

.email {
    margin-top: 50px;
    background-image: url(../images/newsletter.png);
    height: 140px;
    max-width: 100%;
    #myForm {
        text-align: center;
    }
    .input {
        padding: 10px;
        margin-top: 52px;
        width: 430px;
        border: none;
        border-radius: 5px;
    }
    .sub {
        margin-left: 15px;
        background-color: #f7600f;
        border: 0;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
        cursor: pointer;
        font-style: bold;
    }

}

/*Our-Work*/

.our-work {
    text-align: center;
    margin-top: 45px;

    .our {
        font-weight: 600;
        color: #3c434d;
    }

    .works {
        color: #f7600f;
        font-weight: 600;
    }

    p {
        color: #3c434d;
    }

}

/*IMAGE-List*/

.image-list {
    margin-left: 260px;
    margin-top: 40px;
    display: inline-block;
    float: left;
    img{
        float: left;
        width: 25%;
        padding: 10px;
        height: 350px;
    }
}

.p3 {
    margin-left: 4px;
}

.p6 {
    margin-left: 4px;
}


/*under-img-btn*/

.middle-btn {
    text-align: center;

    .btn {
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        text-transform: uppercase;
        border: 1px solid #3c434d;
        background-color: transparent;
        margin-top: 45px;  
    }
}

/*CAROUSEL*/

.carousel {
    background-image: url(../images/carouselbanner.png);

    .inner {
        max-width: calc(100% - 100px);
        height: 400px;
        margin: 45px auto auto auto;

        .carousel-guy {
            display: inline-block;
            width: 100%;
            text-align: center;
            margin-top: 50px;

            .carousel-text {
                color: #ffffff;
                font-weight: 500;
                margin-top: 15px;
            }

            .jhon {
                color: #ffffff;
                font-weight: 600;
                margin-top: 30px;
            }

            .carousel-img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: auto;
            }
        }
    }
}

/*OUR-TEAM*/
.our-team {
    text-align: center;
    margin-top: 45px;

    .our {
        font-weight: 600;
        color: #3c434d;
    }

    .works {
        color: #f7600f;
        font-weight: 600;
    }

    p {
        color: #3c434d
    }
}

/*4-IMAGES*/

.all-4img {
    text-align: center;
    margin-top: 70px;

    .name {
        font-weight: 600;
        color: #3c434d;
        margin-top: 15px;
    }

    .social-img {
        width: 25px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: 15px;
    }
}

.catherina {
    display: inline-block;
    width: 259px;
    vertical-align: top;
    text-align: center;
}

.harvey {
    display: inline-block;
    width: 259px;
    vertical-align: top;
    text-align: center;
}

.janet {
    display: inline-block;
    width: 259px;
    vertical-align: top;
    text-align: center;
}

.kevin {
    display: inline-block;
    width: 259px;
    vertical-align: top;
    text-align: center;
}

.team {
    border-radius: 5px;
    height: 240px;
    width: 200px;
    border-bottom: 5px solid #f7600f;
}

.img4-text {
    margin-top: 15px;
}

.catherina {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.catherina:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
    cursor: pointer;
}

.harvey {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.harvey:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
    cursor: pointer;
}

.janet {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.janet:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
    cursor: pointer;
}

.kevin {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.kevin:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
    cursor: pointer;
}

/*DOTS*/

.dots {
    text-align: center;
    margin-top: 55px;

    .nav-dots {
        .nav-dot {
            top: -5px;
            width: 11px;
            height: 11px;
            margin: 0 4px;
            position: relative;
            border-radius: 100%;
            display: inline-block;
            background-color: #666;
        }
    }

    .nav-dots {
        .nav-dot:hover {
            cursor: pointer;
            background-color: #f7600f;
        }
    }

}

/*SAY-HELLO-SECTION*/

.say-hello {
    background-image: url(../images/photo.jpg);
    max-width: 100%;
    height: 500px;
    margin-top: 50px;

    .say {
        text-align: center;
        padding-top: 45px;

        .sayt {
            font-weight: 700;
            color: white;
        }

        .hello {
            color: #f7600f;
            font-weight: 700;
        }

        p {
            color: white;
            padding-top: 10px;
        }
    }

    .center {
        text-align: center;
        margin-top: 50px;

        .bottom-email {
            padding: 10px;
            width: 300px;
            border: none;
            border-radius: 5px;
            margin-right: 20px;
        }

        .subject {
            padding: 10px;
            width: 300px;
            border: none;
            border-radius: 5px;
        }
    }

    .message {
        text-align: center;
        margin-top: 20px;

        .texta {
            width: 625px;
            border-radius: 5px;
            height: 150px;
        }
    }

    .hire-us {
        .hirebtn {
            background-color: #f7600f;
            border: 0;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #ffffff;
            cursor: pointer;
        }
    }
    
    .img5 {
        width: 625px;
        margin: 20px auto;
        text-align: right;
        .pic5 {
            display: inline-block;
            vertical-align: top;
            width: 35px;
            border-radius: 50%;
            margin: 0 10px;
            &:last-of-type {
                margin-right: 0;
            };
        }
        .hire-us {
            float: left;
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }
    }
}

/*FOOTER*/

.footer {
    background-color: #3c434d;
    max-width: 100%;
    height: 80px;

    .footer-text {
        float: left;
        margin-top: 30px;
        margin-left: 200px;
        color: #ffffff;
        float: left;
        display: inline-block;
        vertical-align: top;
    
    }

    .footer-text2 {
        float: right;
        margin-top: 30px;
        margin-right: 210px;
        color: #ffffff;
        display: inline-block;
        #red-dot{
            color: red;
            font-weight: 900;
        }
    }
}

/*SAY-HELLO-ERROR-MSG*/

.relative {
    position: relative;
    display: inline;
}

/*#email-error {
    position: absolute;
    top: -40px;
    color: red;
    left: 0;
}*/

#text-error {
    position: absolute;
    top: -40px;
    color: red;
    left: 0;
}


#textarea-error {
    position: absolute;
    bottom: 100px;
    color: red;
    left: 0;
    margin-left: 925px;
}